{{#if this.isRunning}}
  Rendering page {{this.currentPage}}
  {{#if this.endPage}}of {{this.endPage}}{{/if}}
{{else if (and (not this.isRunning) this.isComplete)}}
  Rendered {{this.endPage}} pages in <span data-test-render-time>{{this.renderTime}}</span>s
{{/if}}
