{{#if (and this.shouldRender this.page)}}
  {{! template-lint-disable no-inline-styles no-triple-curlies}}
  <div
    class={{concat "PrintablePages-section " this.sectionClass}}
    style={{{this.style}}}
    data-test-section
  >
    {{#if (and this.hasOnlyBlock this.page)}}
      {{yield (hash
        data=item
        index=index
      )}}
    {{else}}
      {{#each this.items as |item index|}}
        <PrintablePages::SectionItem @class={{this.itemClass}} @section={{this.section}} @renderedItem={{this.renderedItem}}>
          {{yield item (add index page.startIndex) index}}
        </PrintablePages::SectionItem>
      {{/each}}
    {{/if}}
  </div>
  {{! template-lint-enable no-inline-styles }}
{{/if}}
