{{#if (and this.shouldRender this.page)}}
  {{! template-lint-disable no-inline-styles no-triple-curlies}}
  <div
    class={{concat "PrintablePages-section " this.sectionClass}}
    style={{{this.style}}}
  >
    {{#if (and this.hasOnlyBlock this.page)}}
      {{yield (hash
        data=item
        index=index
      )}}
    {{else}}
      {{#each this.items as |item index|}}
        {{#printable-pages/section-item
          class=this.itemClass
          section=this.section
          renderedItem=this.renderedItem
        }}
          {{yield (hash
            data=item
            index=index
          )}}
        {{/printable-pages/section-item}}
      {{/each}}
    {{/if}}
  </div>
  {{! template-lint-enable no-inline-styles }}
{{/if}}
