{{link-to "All Demos" "demos.index"}}

{{#progress-display as |progressDisplay|}}
  {{#printable-report
    onRenderStart=progressDisplay.start
    onRenderProgress=progressDisplay.updateProgress
    onRenderComplete=progressDisplay.complete
    as |document|
  }}
    {{! document.title-page}}

    {{#document.chapter as |chapter|}}
      {{!#chapter.title-page}}
      {{#chapter.page-header as |header|}}
        <div>
          <div>Chapter {{header.chapterNumber}}</div>
          <div>page {{header.current}} of {{header.total}}</div>
        </div>
      {{/chapter.page-header}}

      {{#chapter.section columnCount=1}}
        <h1>Section 1</h1>
        <div>current {{chapter.number.current}}</div>
        <div>total {{chapter.number.total}}</div>
        <div>isFirst {{chapter.number.isFirst}}</div>
        <div>isLast {{chapter.number.isLast}}</div>
        <div>isFirstInChapter {{chapter.number.isFirstInChapter}}</div>
        <div>isLastInChapter {{chapter.number.isLastInChapter}}</div>
      {{/chapter.section}}

      {{#chapter.section columnCount=1}}
        <h3>Section 2</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sapien ligula,
          scelerisque et imperdiet sit amet, imperdiet sit amet nisi. Nulla sit amet neque
          ullamcorper lorem tincidunt facilisis. Morbi ante risus, consectetur id feugiat
          nec, interdum ac enim. Phasellus molestie placerat lorem et pharetra. Aenean congue
          tempor viverra. Nulla volutpat, est ut sagittis posuere, nisl metus luctus eros,
          id feugiat erat tortor et felis. Pellentesque id nisl non justo viverra lacinia
          id sit amet arcu. Mauris non euismod ipsum. Fusce lacinia felis nec euismod vulputate.
        </p>
      {{/chapter.section}}

      {{#chapter.section columnCount=2 data=(array 1 2 3 4 5) as |section|}}
        {{#if (eq section.index 0)}}
          <h3 style="column-span:all">Section 3</h3>
        {{/if}}

        <h4>Section 3 {{section.data}}</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sapien ligula,
          scelerisque et imperdiet sit amet, imperdiet sit amet nisi. Nulla sit amet neque
          ullamcorper lorem tincidunt facilisis. Morbi ante risus, consectetur id feugiat
          nec, interdum ac enim. Phasellus molestie placerat lorem et pharetra. Aenean congue
          tempor viverra. Nulla volutpat, est ut sagittis posuere, nisl metus luctus eros,
          id feugiat erat tortor et felis. Pellentesque id nisl non justo viverra lacinia
          id sit amet arcu. Mauris non euismod ipsum. Fusce lacinia felis nec euismod vulputate.
        </p>
      {{/chapter.section}}

      {{#chapter.section columnCount=1}}
        <h3>Section 4</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sapien ligula,
          scelerisque et imperdiet sit amet, imperdiet sit amet nisi. Nulla sit amet neque
          ullamcorper lorem tincidunt facilisis. Morbi ante risus, consectetur id feugiat
          nec, interdum ac enim. Phasellus molestie placerat lorem et pharetra. Aenean congue
          tempor viverra. Nulla volutpat, est ut sagittis posuere, nisl metus luctus eros,
          id feugiat erat tortor et felis. Pellentesque id nisl non justo viverra lacinia
          id sit amet arcu. Mauris non euismod ipsum. Fusce lacinia felis nec euismod vulputate.
        </p>
      {{/chapter.section}}

      {{#chapter.page-footer as |footer|}}
        <div>Footer page {{footer.current}} of {{footer.total}}</div>
      {{/chapter.page-footer}}

    {{/document.chapter}}

    {{#document.chapter as |chapter|}}
      {{#chapter.page-header as |header|}}
        <div>
          <div>Chapter {{header.chapterNumber}}</div>
          <div>page {{header.current}} of {{header.total}}</div>
        </div>
      {{/chapter.page-header}}

      {{#chapter.page-footer as |footer|}}
        <div>Footer page {{footer.current}} of {{footer.total}}</div>
      {{/chapter.page-footer}}

    {{/document.chapter}}

    {{#document.chapter as |chapter|}}
      {{#chapter.page-header as |header|}}
        <div>
          <div>Chapter {{header.chapterNumber}}</div>
          <div>page {{header.current}} of {{header.total}}</div>
        </div>
      {{/chapter.page-header}}

      {{#chapter.section columnCount=1}}
        <div>
          <div>current {{chapter.number.current}}</div>
          <div>total {{chapter.number.total}}</div>
          <div>isFirst {{chapter.number.isFirst}}</div>
          <div>isLast {{chapter.number.isLast}}</div>
          <div>isFirstInChapter {{chapter.number.isFirstInChapter}}</div>
          <div>isLastInChapter {{chapter.number.isLastInChapter}}</div>
        </div>
      {{/chapter.section}}

      {{!#chapter.page-title}}

      {{#chapter.page-footer as |footer|}}
        <div>Footer page {{footer.current}} of {{footer.total}}</div>
      {{/chapter.page-footer}}

    {{/document.chapter}}

    {{#document.chapter as |chapter|}}
      {{#chapter.page-header as |header|}}
        <div>
          <div>Chapter {{header.chapterNumber}}</div>
          <div>page {{header.current}} of {{header.total}}</div>
        </div>
      {{/chapter.page-header}}

      {{#chapter.section columnCount=1}}
        <p>here</p>
      {{/chapter.section}}

      {{#chapter.page-footer as |footer|}}
        <div>Footer page {{footer.current}} of {{footer.total}}</div>
      {{/chapter.page-footer}}

    {{/document.chapter}}

    {{#document.chapter as |chapter|}}
      {{#chapter.page-header as |header|}}
        <div>
          <div>Chapter {{header.chapterNumber}}</div>
          <div>page {{header.current}} of {{header.total}}</div>
        </div>
      {{/chapter.page-header}}

      {{#chapter.section columnCount=1}}
        <h1>chapter 4</h1>
      {{/chapter.section}}

      {{#chapter.page-footer as |footer|}}
        <div>Footer page {{footer.current}} of {{footer.total}}</div>
      {{/chapter.page-footer}}

    {{/document.chapter}}

    {{#document.chapter as |chapter|}}
      {{#chapter.page-header as |header|}}
        <div>
          <div>Chapter {{header.chapterNumber}}</div>
          <div>page {{header.current}} of {{header.total}}</div>
        </div>
      {{/chapter.page-header}}

      {{#chapter.section columnCount=1}}
        <div>current {{chapter.number.current}}</div>
        <div>total {{chapter.number.total}}</div>
        <div>isFirst {{chapter.number.isFirst}}</div>
        <div>isLast {{chapter.number.isLast}}</div>
        <div>isFirstInChapter {{chapter.number.isFirstInChapter}}</div>
        <div>isLastInChapter {{chapter.number.isLastInChapter}}</div>
      {{/chapter.section}}

      {{#chapter.page-footer as |footer|}}
        <div>Footer page {{footer.current}} of {{footer.total}}</div>
      {{/chapter.page-footer}}

    {{/document.chapter}}
  {{/printable-report}}
{{/progress-display}}
