{{link-to "All Demos" "demos.index"}}

{{progress-display
  isRunning=this.isRunning
  currentPage=this.currentPage
  isComplete=this.isComplete
  renderTime=this.renderTime
}}

{{#printable-pages
  onRenderStart=(action 'start')
  onRenderProgress=(action 'updateProgress')
  onRenderComplete=(action 'complete')
  as |document|
}}
  {{#document.chapter as |chapter|}}
    {{#chapter.page-header as |header|}}
      <div>
        <div>Chapter {{header.pageMeta.chapterNumber}}</div>
        <div>page {{header.pageMeta.current}} of {{header.pageMeta.total}}</div>
      </div>
    {{/chapter.page-header}}

    {{#chapter.section columnCount=2 data=this.sectionData as |section|}}
      {{#if (eq section.index 0)}}
        <h3>Section 3</h3>
      {{/if}}

      <h4>Section 3 {{section.data}}</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
    {{/chapter.section}}

    {{#chapter.page-footer as |footer|}}
      <div>Footer page {{footer.pageMeta.current}} of {{footer.pageMeta.total}}</div>
    {{/chapter.page-footer}}
  {{/document.chapter}}
{{/printable-pages}}
