<div class="print-display-none">
  {{link-to "All Demos" "demos.index"}}

  {{progress-display
    isRunning=this.isRunning
    currentPage=this.currentPage
    isComplete=this.isComplete
    renderTime=this.renderTime
  }}

  {{input type="number" value=this.dataLength min=1 max=10000}}
  {{input type="number" value=this.columnCount min=1 max=3}}
</div>

{{#printable-pages
  onRenderStart=(action "start")
  onRenderProgress=(action "updateProgress")
  onRenderComplete=(action "complete")
  as |document|
}}
  {{#document.chapter as |chapter|}}
    {{#chapter.page-header as |header|}}
      <div>
        <div>Chapter {{header.pageMeta.chapterNumber}}</div>
        <div>page {{header.pageMeta.current}} of {{header.pageMeta.total}}</div>
      </div>
    {{/chapter.page-header}}

    {{#chapter.section}}
      <h3>Section 1</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sapien ligula,
        scelerisque et imperdiet sit amet, imperdiet sit amet nisi. Nulla sit amet neque
        ullamcorper lorem tincidunt facilisis. Morbi ante risus, consectetur id feugiat
        nec, interdum ac enim. Phasellus molestie placerat lorem et pharetra. Aenean congue
        tempor viverra. Nulla volutpat, est ut sagittis posuere, nisl metus luctus eros,
        id feugiat erat tortor et felis. Pellentesque id nisl non justo viverra lacinia
        id sit amet arcu. Mauris non euismod ipsum. Fusce lacinia felis nec euismod vulputate.
      </p>
    {{/chapter.section}}

    {{#chapter.section columnCount=this.columnCount data=this.sectionData as |section|}}
      {{#if (eq section.index 0)}}
        <h3>Section 2</h3>
      {{/if}}

      <h4>Section 2 {{section.data}}</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
    {{/chapter.section}}

    {{#chapter.page-footer as |footer|}}
      <div>Footer page {{footer.pageMeta.current}} of {{footer.pageMeta.total}}</div>
    {{/chapter.page-footer}}
  {{/document.chapter}}
{{/printable-pages}}
