<div class="print:hidden">
  <LinkTo @route="demos.index">All Demos</LinkTo>

  <ProgressDisplay
    @isRunning={{this.isRunning}}
    @currentPage={{this.currentPage}}
    @isComplete={{this.isComplete}}
    @renderTime={{this.renderTime}}
  />

  <label>Section Count</label>

  <Input @type="number" @value={{this.sectionCount}} min={{1}} max={{10000}} data-test-input-section-count={{true}} />
  <label>Column Count</label>

  <Input @type="number" @value={{this.columnCount}} min={{1}} max={{3}} data-test-column-count={{true}} />

  <label>Box Height</label>
  <Input @type="number" @value={{this.boxHeight}} min={{0}} max={{100}} data-test-column-count={{true}} />
</div>

<PrintablePages
  @onRenderStart={{this.onStart}}
  @onRenderProgress={{this.onUpdateProgress}}
  @onRenderComplete={{this.onComplete}}
  as |document|
>
  <document.chapter as |chapter|>
    <chapter.page-header as |header|>
      <div>
        <div>Chapter {{header.pageMeta.chapterNumber}}</div>
        <div>page {{header.pageMeta.current}} of {{header.pageMeta.total}}</div>
      </div>
    </chapter.page-header>

    <chapter.section
      @columnCount={{this.columnCount}}
      @data={{this.sectionData}}
      as |section|
    >
      {{#if (eq section.index 0)}}
        <h3>Section 1</h3>
      {{/if}}

      <h4>Section 1.{{section.data}}</h4>
      <p {{style height=(concat this.boxHeight "px")}}>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
    </chapter.section>

    <chapter.page-footer as |footer|>
      <div>Footer page
        {{footer.pageMeta.current}}
        of
        {{footer.pageMeta.total}}</div>
    </chapter.page-footer>
  </document.chapter>
</PrintablePages>