<div class="no-print">
  {{link-to "All Demos" "demos.index"}}
</div>

{{#printable-pages as |document|}}

  {{! Document Title Page }}
  {{#document.title-page as |titlePage|}}
    <div>As of March 2019</div>
    <div class="TitlePage-hero">
      <h1>This is the document title page</h1>
    </div>
    <div>
      ©2019 Forge 512, LLC | {{titlePage.pageMeta.total}}
    </div>
  {{/document.title-page}}

  {{! Chapters }}
  {{#document.chapter as |chapter|}}
    {{#chapter.page-header as |header|}}
      <div>
        <div>Chapter {{header.chapterNumber}}</div>
        <div>page {{header.current}} of {{header.total}}</div>
      </div>
    {{/chapter.page-header}}

    {{#chapter.section columnCount=1}}
      <h1>Section 1</h1>
      <div>current {{chapter.number.current}}</div>
      <div>total {{chapter.number.total}}</div>
      <div>isFirst {{chapter.number.isFirst}}</div>
      <div>isLast {{chapter.number.isLast}}</div>
      <div>isFirstInChapter {{chapter.number.isFirstInChapter}}</div>
      <div>isLastInChapter {{chapter.number.isLastInChapter}}</div>
    {{/chapter.section}}

    {{#chapter.section columnCount=1}}
      <h3>Section 2</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sapien ligula,
        scelerisque et imperdiet sit amet, imperdiet sit amet nisi. Nulla sit amet neque
        ullamcorper lorem tincidunt facilisis. Morbi ante risus, consectetur id feugiat
        nec, interdum ac enim. Phasellus molestie placerat lorem et pharetra. Aenean congue
        tempor viverra. Nulla volutpat, est ut sagittis posuere, nisl metus luctus eros,
        id feugiat erat tortor et felis. Pellentesque id nisl non justo viverra lacinia
        id sit amet arcu. Mauris non euismod ipsum. Fusce lacinia felis nec euismod vulputate.
      </p>
    {{/chapter.section}}

    {{#chapter.section columnCount=2 data=(array 1 2 3 4 5) as |section|}}
      {{#if (eq section.index 0)}}
        <h3>Section 3</h3>
      {{/if}}

      <h4>Section 3 {{section.data}}</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sapien ligula,
        scelerisque et imperdiet sit amet, imperdiet sit amet nisi. Nulla sit amet neque
        ullamcorper lorem tincidunt facilisis. Morbi ante risus, consectetur id feugiat
        nec, interdum ac enim. Phasellus molestie placerat lorem et pharetra. Aenean congue
        tempor viverra. Nulla volutpat, est ut sagittis posuere, nisl metus luctus eros,
        id feugiat erat tortor et felis. Pellentesque id nisl non justo viverra lacinia
        id sit amet arcu. Mauris non euismod ipsum. Fusce lacinia felis nec euismod vulputate.
      </p>
    {{/chapter.section}}

    {{#chapter.page-footer as |footer|}}
      <div>Footer page {{footer.pageMeta.current}} of {{footer.pageMeta.total}}</div>
    {{/chapter.page-footer}}
  {{/document.chapter}}
{{/printable-pages}}
