{{log "CHAPTER PAGE"}}
<div
  class="PrintablePages-chapterPage"
  id={{this.elementId}}
  {{page-renderer}}
  {{did-insert this.didInsert}}
  {{did-insert (perform this.renderNext)}}
  {{did-update this.onUpdate}}
>
  {{yield
    (hash meta=@pageMeta renderNext=(perform this.renderNext))
    to="header"
  }}

  <div class="PrintablePages-pageBody js-page-body">
    {{yield
      (hash
        element=this.element
        meta=@pageMeta
        registerSection=this.registerSection
        setLastRenderedItem=this.setLastRenderedItem
        renderNext=(perform this.renderNext)
      )
      to="body"
    }}

    {{! element used to check if the content has overflowed page body}}
    <div class="js-visibility-tail" {{style height="1px"}}></div>
  </div>

  {{yield (hash meta=@pageMeta) to="footer"}}
  <div class="js-page-break-after u-page-break-after"></div>
</div>