<div
  class="PrintablePages-chapter"
  id={{this.elementId}}
  data-test-chapter={{this.chapter.index}}
>
  {{#each this.pages as |page pageIndexInChapter|}}
    {{#let (add this.startPage pageIndexInChapter) as |pageNumber|}}
      <PrintablePages::PageLayout
        @pageLayout={{@pageLayout}}
        @pageNumber={{pageNumber}}
      >
        <PrintablePages::ChapterPage
          @pageIndexInChapter={{pageIndexInChapter}}
          @pageMeta={{hash
            current=pageNumber
            pageNumber=pageNumber
            chapterNumber=(inc this.chapter.index)
            total=@lastReportPage
            isFirst=(eq pageNumber 1)
            isFirstInChapter=(eq pageNumber this.startPage)
            isLast=(eq pageNumber @lastReportPage)
            isLastInChapter=(eq pageNumber this.endPage)
          }}
          @registerSection={{fn @registerSection this.elementId}}
          @renderNextItem={{fn this.renderNextItem pageIndexInChapter}}
          @onPageOverflow={{fn this.onPageOverflow pageIndexInChapter}}
          @renderNextPage={{fn this.renderNextPage pageIndexInChapter}}
        >
          <:header as |header|>
            {{yield
              (hash
                page-header=(component
                  "printable-pages/page-header" pageMeta=header.meta
                )
              )
            }}
          </:header>

          <:body as |body|>
            {{yield
              (hash
                number=body.meta
                section=(component
                  "printable-pages/section"
                  sectionMap=this.chapter.sectionMap
                  pageIndexInChapter=pageIndexInChapter
                  pageElement=body.element
                  register=body.registerSection
                  registerSection=body.registerSection
                  onSectionOverflow=body.onSectionOverflow
                  triggerRerender=@triggerRerender
                  setLastRenderedItem=body.setLastRenderedItem
                  renderNext=body.renderNext
                )
              )
            }}
          </:body>

          <:footer as |footer|>
            {{yield
              (hash
                page-footer=(component
                  "printable-pages/page-footer" pageMeta=footer.meta
                )
              )
            }}
          </:footer>
        </PrintablePages::ChapterPage>
      </PrintablePages::PageLayout>
    {{/let}}
  {{/each}}
</div>
