{{#if (and this.shouldRender this.page)}}
  {{! template-lint-disable no-inline-styles no-triple-curlies}}
  <div
    {{did-update
      this.onUpdate
      this
      @data
      @item
      @index
      @columnCount
      this.page
      this.hasOnlyBlock
      this.shouldRender
    }}
    {{did-insert @renderNext this}}
    {{!-- {{did-update @renderNext this @data @item @index this.page}} --}}
    {{did-insert this.onInsert}}
    class={{concat "PrintablePages-section " @sectionClass}}
    data-test-section
    {{style columnCount=(concat "" @columnCount)}}
  >
    {{log "section --- isFullyRendered" this.section.isFullyRendered}}
    {{#if (and this.hasOnlyBlock this.page)}}
      {{log "SECTION NO ITEMS"}}
      {{yield (hash data=@item index=@index)}}
    {{else}}
      {{#each this.items as |item index|}}
        <PrintablePages::SectionItem
          @class={{@itemClass}}
          @section={{this.section}}
          @setLastRenderedItem={{@setLastRenderedItem}}
          @renderNext={{@renderNext}}
        >
          {{yield item (add index this.page.startIndex) index}}
        </PrintablePages::SectionItem>
      {{/each}}
    {{/if}}
  </div>
  {{! template-lint-enable no-inline-styles }}
{{/if}}