<div class="h-screen">
  <AppTopbar class="print:hidden" />

  <div class="flex flex-row h-full-less-top-bar print:h-auto">
    <PrintablePages
      @onRenderStart={{this.onStart}}
      @onRenderProgress={{this.onUpdateProgress}}
      @onRenderComplete={{this.onComplete}}
      @dimensions={{hash width=this.settings.width height=this.settings.height}}
      @margins={{hash
        top=this.settings.top
        right=this.settings.right
        bottom=this.settings.bottom
        left=this.settings.left
      }}
      @orientation={{this.settings.orientation}}
      @units={{this.settings.units}}
      @trackedForRefresh={{hash trackedForRefresh=this.trackedForRefresh}}

      class="h-full print:h-auto w-4/5 print:w-screen overflow-y-auto pt-4 px-4 print:pt-0 print:px-0 text-gray-700 print:text-black"
      as |document|
    >
      <document.chapter as |chapter|>
        <chapter.page-header as |header|>
          <div class="mb-4 text-sm flex flex-row justify-between">
            <div>Chapter {{header.pageMeta.chapterNumber}}</div>
            <div>Ember Printable Pages</div>
          </div>
        </chapter.page-header>

        <chapter.section>
          <h1>Chapter 1</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non
            efficitur risus, a faucibus elit. Etiam at tempor mi, a consequat
            nibh. Phasellus feugiat felis porttitor dui egestas, in viverra ex
            tempus. Sed gravida diam libero, at aliquam purus porttitor et. Nam
            tristique posuere odio, eget tristique neque ornare in.
          </p>
        </chapter.section>

        <chapter.section>
          <h2>Section 1</h2>
        </chapter.section>

        <chapter.section
          @columnCount={{this.columnCount}}
          @data={{range 1 10}}
          @sectionClass="mb-8"
          as |data index pageIndex|
        >
          {{#if (and (eq pageIndex 0) (gt index 0))}}
            <h4>Section 1 Continued</h4>
          {{/if}}

          <div class="mb-2 py-2 bg-gray-200 text-center">
            Item 1.{{inc index}}
          </div>
        </chapter.section>

        <chapter.section>
          <h2>Section 2</h2>
        </chapter.section>
        <chapter.section
          @columnCount={{this.columnCount}}
          @data={{this.sectionData}}
          as |data index pageIndex|
        >
          {{#if (and (eq pageIndex 0) (gt index 0))}}
            <h4>Section 2 Continued</h4>
          {{/if}}

          <div class="mb-2 py-2 bg-gray-200 text-center">
            Item 2.{{inc index}}
          </div>
        </chapter.section>

        <chapter.page-footer as |footer|>
          <div class="flex flex-row justify-between text-sm">
            <div>Created by Forge 512</div>
            <div>Page
              {{footer.pageMeta.pageNumber}}
              of
              {{footer.pageMeta.total}}</div>
          </div>
        </chapter.page-footer>
      </document.chapter>

      <document.chapter as |chapter|>
        <chapter.page-header as |header|>
          <div class="mb-4 text-sm flex flex-row justify-between">
            <div>Chapter {{header.pageMeta.chapterNumber}}</div>
            <div>Ember Printable Pages</div>
          </div>
        </chapter.page-header>

        <chapter.section>
          <h1>Chapter 2</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non
            efficitur risus, a faucibus elit. Etiam at tempor mi, a consequat
            nibh. Phasellus feugiat felis porttitor dui egestas, in viverra ex
            tempus. Sed gravida diam libero, at aliquam purus porttitor et. Nam
            tristique posuere odio, eget tristique neque ornare in. Donec
            convallis, metus a pretium iaculis, mauris nisi dignissim enim, et
            vehicula neque libero vitae augue. Morbi sit amet magna eget nisl
          </p>
        </chapter.section>

        <chapter.page-footer as |footer|>
          <div class="flex flex-row justify-between text-sm">
            <div>Created by Forge 512</div>
            <div>Page
              {{footer.pageMeta.pageNumber}}
              of
              {{footer.pageMeta.total}}</div>
          </div>
        </chapter.page-footer>

      </document.chapter>

    </PrintablePages>

    <div class="w-1/5 print:hidden p-4 overflow-y-auto">
      <ProgressDisplay
        @isRunning={{this.isRunning}}
        @currentPage={{this.currentPage}}
        @isComplete={{this.isComplete}}
        @renderTime={{this.renderTime}}
      />

      <div class="py-2">
        <label>Section 2 Item Count</label>
        <Input
          @type="number"
          @value={{this.sectionCount}}
          min={{1}}
          max={{5000}}
          data-test-input-section-count={{true}}
          class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal"
        />
      </div>

      <div class="py-2">
        <label>Column Count</label>
        <Input
          @type="number"
          @value={{this.columnCount}}
          min={{1}}
          max={{3}}
          size={{5}}
          data-test-column-count={{true}}
          class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal"
        />
      </div>

      <div class="py-2">
        <label>Change to rerender</label>
        <Input
          @type="number"
          @value={{this.trackedForRefresh}}
          min={{1}}
          max={{5000}}
          data-test-input-section-count={{true}}
          class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal"
        />
      </div>

      <hr class="my-8" />

      <PrintSettings />
    </div>
  </div>
</div>
